In [6]:
#Q1(Ans)
import pandas as pd
items=[4,8,15,16,23,42]
s=pd.Series(items)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [1]:
#Q2(Ans)
import pandas as pd
a=[1,2,3,4,5,6,7,8,9,10]
s=pd.Series(a)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
#Q3(Ans)
import pandas as pd
items={"Name": ["Alice","Bob","Claire"],
       "Age": [25,30,27],
       "Gender": ["Female","Male","Female"]}
df=pd.DataFrame(items)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Q4(Ans)
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 
Pandas DataFrame consists of three principal components, the data, rows, and columns.

The main difference between Series and Dataframe. Series can only contain a single list with an index, 
whereas Dataframe can be made of more than one series or we can say that a Dataframe is a collection of series that can be used to analyze the data.

In [2]:
#example of series
import pandas as pd
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
df=pd.Series(author)
print(df)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [1]:
#example od Dataframe
import pandas as pd
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

author_series=pd.Series(author)
article_series=pd.Series(article)
frame={ "author":author_series,
        "article":article_series}
df1=pd.DataFrame(frame)
print(df1)

     author  article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

In [ ]:
#Q5(Ans)
 1.We can read the dataframe by using head() function also which is having an argument (n) i.e. number of rows to be displayed.
 2.Counting the rows and columns in DataFrame using shape(). It returns the no. of rows and columns enclosed in a tuple.
 3.Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.
 4.Merging DataFrames using merge(), arguments passed are the dataframes to be merged along with the column name.
 5.Renaming the columns of dataframe using rename(), arguments passed are the columns to be renamed & inplace.

In [ ]:
#Q6(Ans)
DataFrame is the mutable in nature

In [4]:
#Q7(Ans)
import pandas as pd
Actors=["Salman Khan","Akshay Kumar","Anil Kapoor","Kartik Aryan","Amir Khan","Ranbir Kapoor","Ranbir Singh"]
Ages=[57,55,66,32,58,40,37]
Wife=["Unmarried","Twinkle Khanna","Sunita Kapoor","Unmarried","Kiran Rao","Alia Bhatt"," Deepika Padukone " ]
Worths=["2738 Crores","2471 Crores","134 Crores","46 Crore","1711 Crores","345 Crore","334 Crore"]

a=pd.Series(Actors)
b=pd.Series(Ages)
c=pd.Series(Wife)
d=pd.Series(Worths)

data={"Actors":a,
     "Ages":b,
     "Wife":c,
     "Worths":d}
df2=pd.DataFrame(data)
print(df2)

          Actors  Ages                Wife       Worths
0    Salman Khan    57           Unmarried  2738 Crores
1   Akshay Kumar    55      Twinkle Khanna  2471 Crores
2    Anil Kapoor    66       Sunita Kapoor   134 Crores
3   Kartik Aryan    32           Unmarried     46 Crore
4      Amir Khan    58           Kiran Rao  1711 Crores
5  Ranbir Kapoor    40          Alia Bhatt    345 Crore
6   Ranbir Singh    37   Deepika Padukone     334 Crore